@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    @Html.Partial("Partials/_TeacherLayoutHeadPartial.cshtml")
</head>
<body>

    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a href="" class="logo">
                    Yönetim Paneli
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">


                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                      

                        <li class="nav-item dropdown">


                            @if(User.Identity.IsAuthenticated){
                                
                            @await Component.InvokeAsync("_ProfileVC")
                            }

                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">
                
                <ul class="nav">

                    <li class="nav-item @IsActive("Student","Index")">
                        <a href="/Student/Index/">
                            <i class="la la-table"></i>
                            <p>Öğrenci Listesi</p>
                        </a>
                    </li>


                    <li class="nav-item @IsActive("Student","CreateStudent")">
                        <a href="/Student/CreateStudent/">
                            <i class="la la-table"></i>
                            <p>Yeni Öğrenci Girişi</p>
                        </a>
                    </li>

                    <li class="nav-item @IsActive("DeletedStudent","Index")">
                        <a href="/DeletedStudent/Index/">
                            <i class="la la-table"></i>
                            <p>Silinen Öğrenci Listesi</p>
                        </a>
                    </li>

                    <hr />
                    <li class="nav-item @IsActive("Register","Index")">
                        <a href="/Register/Index/">
                            <i class="la la-table"></i>
                            <p>Kayıt Ol</p>
                        </a>
                    </li>
                    
                    <li class="nav-item @IsActive("Login","Index")">
                        <a href="/Login/Index/">
                            <i class="la la-table"></i>
                            <p>Giriş Yap</p>
                        </a>
                    </li>
                    
                    <li class="nav-item @IsActive("Profile","UpdateProfile")">
                        <a href="/Profile/UpdateProfile/">
                            <i class="la la-table"></i>
                            <p>Profil Güncelle</p>
                        </a>
                    </li>
                    
                    <li class="nav-item @IsActive("Login","Logout")">
                        <a href="/Login/Logout/">
                            <i class="la la-table"></i>
                            <p>Çıkış Yap</p>
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                </div>
            </div>

        </div>
    </div>

    @functions {
        public string IsActive(string controllerName, string actionName)
        {
            string controller = ViewContext.RouteData.Values["controller"]?.ToString();
            string action = ViewContext.RouteData.Values["action"]?.ToString();


            string result = (controller == controllerName && action == actionName) ? "active" : "";
            return result;
        }
    }

</body>
@Html.Partial("Partials/_TeacherLayoutScriptPartial.cshtml")

</html>